.carousel {
  overflow: hidden;
  background-color: $base-white;

  .swiper {
    position: relative;
    overflow: visible;
  }
}

.carousel__wrapper {
  display: grid;
  grid-auto-flow: column;
}

.carousel__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  padding-top: 20px;
  padding-bottom: 60px;
  justify-content: center;

  &.swiper-slide-active {
    opacity: 1;
    visibility: visible;
  }

  @include tablet {
    padding: 60px;
    padding-bottom: 0;
    flex-direction: column-reverse;
    gap: 20px;
  }

  @include desktop {
    padding-top: 30px;
    padding-bottom: 84px;
    gap: 30px;
    flex-direction: row;
  }
}

.carousel__background {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  z-index: -1;

  @include tablet {
    height: calc(100% - 188px);
  }

  @include desktop {
    height: 100%;
  }
}

.carousel__image-wrapper {
  width: 280px;
  height: 280px;

  @include tablet {
    width: 476px;
    height: 476px;
  }

  @include desktop {
    min-width: 600px;
    width: 600px;
    height: 600px;
  }
}

.carousel__image {
  width: 100%;
  height: 100%;
}

.carousel__inner {
  text-align: center;

  @include desktop {
    text-align: start;
  }
}

.carousel__badge {
  margin-bottom: 4px;
}

.carousel__title {
  margin-bottom: 10px;

  @include tablet {
    margin-bottom: 16px;
  }
}

.carousel__description {
  margin-top: 0;
  margin-bottom: 20px;

  @include tablet {
    font-size: 20px;
    line-height: 32px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.carousel__order {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  @include desktop {
    justify-content: start;
  }
}

.carousel__button {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20px;
  color: $base-primary;
  transition: 0.3s;

  &:hover,
  &:focus {
    outline: none;
    background: linear-gradient(90deg, $base-white 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &::after {
    display: none;
  }

  &:disabled {
    opacity: 1;
    color: $base-grey;
  }

  &--previous {
    left: 0;
    transform: translateX(-20px);
  }

  &--next {
    right: 0;
    transform: scale(-1) translateX(-20px);
  }

  @include tablet {
    width: 80px;
    height: calc(100% - 188px);
  }

  @include desktop {
    height: 100%;
  }
}

.carousel__bullets {
  display: none;

  @include desktop {
    &.swiper-pagination {
      display: flex;
      height: 4px;
      grid-template: 8px;
      position: absolute;
      left: 0;
      bottom: 70px;
      width: 100%;
      justify-content: center;
    }

    .swiper-pagination-bullet {
      min-width: 64px;
      height: 4px;
      border-radius: 0;
      background-color: $base-white;
      opacity: 1;
      transition: 0.3s;
    }

    .swiper-pagination-bullet-active {
      background-color: $base-primary;
    }
  }
}
