.slider {
  .noUi-target {
    background: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
  }

  .noUi-horizontal {
    display: flex;
    align-items: center;
    height: 24px;
  }

  .noUi-base {
    height: 2px;
    background-color: $light-grey;
  }

  .noUi-connects {
    height: 4px;
    top: -1px;
  }

  .noUi-connect {
    background-color: $primary-lighter;
  }

  .noUi-horizontal .noUi-handle {
    width: 24px;
    height: 24px;
    right: 0;
    top: 1px;
    transform: translate(50%, -50%);
    border: 2px solid $primary-lighter;
    box-shadow: none;
    border-radius: 50%;
    background-color: $base-white;
    transition: .3s;

    &:active {
      border-color: $base-primary;
    }

    &::before {
      display: none;
    }

    &::after {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background-color: transparent;
      transition: .3s;
    }

    &:focus-visible {
      outline: none;
    }

    &:hover::after,
    &:focus-visible::after {
      background-color: $primary-opacity;
    }

    &:active::after {
      background-color: $base-primary;
    }
  }
}

.slider__range {
  margin-bottom: 24px;
  padding-left: 12px;
}

.slider__inputs {
  display: flex;
  align-items: center;
  gap: 18px;
}

.slider__input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  padding: 0;
  height: 40px;
  flex-grow: 1;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.slider__seperator {
  background-color: $base-grey;
  height: 2px;
  width: 8px;
}
