*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 280px;
  margin: 0 auto;

  @include tablet {
    width: 728px;
  }

  @include desktop {
    width: 1360px;
  }
}

img {
  max-width: 100%;
  object-fit: contain;
}

.price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;

  &--old {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: $base-primary;
    text-decoration: line-through;
  }
}

.label {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.badge {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
  text-transform: uppercase;
}
